{% extends "base.html" %}

{% block content %}

<div class="container d-flex p-5 gap-3" style="height: 85vh;">
    <div class="p-4 border shadow border-dark-subtle bg-body-secondary rounded d-flex flex-column">
        <h3 class="mb-4">Branch Information</h3>
        <div class="bg-body p-3 border border-1 border-dark-subtle rounded flex-grow-1 mb-4">
            <p>Pacita Branch</p>
            <p>Operating Hours: 8am to 5pm</p>
        </div>
        <button class="btn btn-primary border border-1 border-dark-subtle align-self-end">
            Edit Branch
        </button>
        
    </div>
    <div class="p-4 border shadow border-dark-subtle bg-body-secondary rounded flex-grow-1 d-flex flex-column">
        <h3 class="mb-4">Shift Schedule</h3>
        <div class="bg-body p-3 border border-1 border-dark-subtle rounded flex-grow-1 ">
            
        </div>
    </div>
</div>

{% endblock %}