{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        {% if not user.is_staff %}
            <div class="container">
                <div class="row">
                <div class="col-12">
                    <!-- Wrapper for the two divs -->
                    <div class="d-flex flex-column gap-2" style="height: 85vh;">
                        <div class="flex-shrink-0 border rounded p-3 bg-dark-subtle shadow-sm border border-1 border-dark-subtle" style="height: 33%;">
                            <div class="container">
                                
                                <p>Username: {{ user.username }} {{ user.lastname }}</p>
                                <p>Branch: {{ user.branch }}</p>
                                <p>Shift:</p>

                            </div>
                    
                            <div class="d-grid gap-2 col-8  mx-auto">
                                <button class="btn btn-primary border border-1 border-dark-subtle" type="button">FACE IN</button>
                            </div>
                        
                        </div>

                        <div class="flex-shrink-0 border rounded p-3 bg-dark-subtle d-flex  flex-column shadow-sm border border-1 border-dark-subtle" style="height: 66%;">
                                <h5>Shift Logs</h5>
                                <div class="bg-light rounded mb-1 border border-1 border-dark-subtle mb-1 p-1">
                                    <div class="container rounded mb-1 overflow-y-auto overflow-x-hidden">
                                        <div class="row pt-1"  style="font-size: 12px;">
                                        <div class="col">DATE</div>
                                        <div class="col">IN</div>
                                        <div class="col">OUT</div>
                                        </div>
                                    </div>

                                </div>
                        
                                <div class="bg-light rounded flex-grow-1 border border-1 border-dark-subtle">
                                    <div class="container rounded mb-1 overflow-y-auto overflow-x-hidden">
                                        <div class="row border py-1 bg-body-secondary" style="font-size: 12px;">
                                            <div class="col">12/01/24</div>
                                            <div class="col">11am</div>
                                            <div class="col">11pm</div>
                                        </div>
                                    </div>
                                                        
                                </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% else %}
            <h1>hello</h1>
        {% endif %}
    {% endif %}

{% endblock %}