{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        {% if not user.is_staff %}
            <div class="container">
                <div class="row">
                <div class="col-12">
                    <!-- Wrapper for the two divs -->
                    <div class="d-flex flex-column gap-2" style="height: 85vh;">
                        <div class="flex-shrink-0 border rounded p-3 bg-dark-subtle shadow-sm border border-1 border-dark-subtle" style="height: 33%;">
                            <div class="container">
                                
                                <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
                                <p>Branch: {{ user.branch }}</p>
                                <p>Shift:</p>

                            </div>
                    
                            <div class="d-grid gap-2 col-8  mx-auto">
                                <button class="btn btn-primary border border-1 border-dark-subtle" type="button">FACE IN</button>
                            </div>
                        
                        </div>

                        <div class="flex-shrink-0 border rounded p-3 bg-dark-subtle d-flex  flex-column shadow-sm border border-1 border-dark-subtle" style="height: 66%;">
                                <h5>Shift Logs</h5>
                                <div class="bg-light rounded mb-1 border border-1 border-dark-subtle mb-1 p-1">
                                    <div class="container rounded mb-1 overflow-y-auto overflow-x-hidden">
                                        <div class="row pt-1"  style="font-size: 12px;">
                                        <div class="col">DATE</div>
                                        <div class="col">IN</div>
                                        <div class="col">OUT</div>
                                        </div>
                                    </div>

                                </div>
                        
                                <div class="bg-light rounded flex-grow-1 border border-1 border-dark-subtle">
                                    <div class="container rounded mb-1 overflow-y-auto overflow-x-hidden">
                                        <div class="row border py-1 bg-body-secondary" style="font-size: 12px;">
                                            <div class="col">12/01/24</div>
                                            <div class="col">11am</div>
                                            <div class="col">11pm</div>
                                        </div>
                                    </div>
                                                        
                                </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% else %}

            <!-- admin pane; -->
            <div class="row row-cols-5">
                {% for branch in branches %}
                    {% if forloop.counter > 1 %}
                    
                    <div class="p-2 d-flex">
                    <div class="card bg-light-subtle shadow border-1 border-dark-subtle" style="box-sizing: border-box; flex: 1;">
                        
                        <div class="card-body d-flex flex-column">
                            <br>
                            <h3 class="card-title">{{ branch.branch_name }}</h3>
                            <hr>
                            <p>Address: {{ branch.branch_address }}</p>
                            <p>IP Address: {{ branch.branch_IP }}</p>
                            <p>Branch ID: {{ branch.branch_id }}</p>
                            
                            <a href="{% url 'branch' branch.branch_id %}" class="btn btn-primary align-self-end">View Info</a>
                        </div>
                    </div>
                    </div>

                    {% endif %}
                {% endfor %}

                <!-- Second Card -->
                <div class="p-2 d-flex">
                    <div class="card bg-light-subtle shadow d-flex" style="box-sizing: border-box; flex: 1;">
                        <!-- <button type="button" class="btn btn-outline-primary" style="flex: 1; font-size: large;">ADD BRANCH</button> -->

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-primary" style="flex: 1; font-size: large;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            ADD BRANCH
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <form class="modal-content" action="{% url 'add_branch' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">ADD BRANCH</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="branch_name" class="form-label">Branch Name:</label>
                                            <input type="text" class="form-control" id="branch_name" name="branch_name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="branch_address" class="form-label">Address:</label>
                                            <input type="text" class="form-control" id="branch_address" name="branch_address">
                                        </div>
                                        <div class="mb-3">
                                            <label for="branch_IP" class="form-label">IP Address:</label>
                                            <input type="text" class="form-control" id="branch_IP" name="branch_IP">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                                        <button type="submit" class="btn btn-primary">CONFIRM</button>
                                    </div>
                                </form>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        
        {% endif %}
    {% endif %}

{% endblock %}