{% extends "base.html" %}

{% block content %}

  <div class="container border border-1 border-dark-subtle rounded bg-dark-subtle p-3 d-flex flex-column" style="height: 85vh;">      
    <h3>Notiifications</h3>  
    <div class="bg-light border border-1 border-dark-subtle rounded flex-grow-1">
      <div class="container d-grid row-gap-2 p-3"> 
          <div class="p-3 border border-1 border-dark-subtle rounded">
            <div class="col" style="font-size: 12px;">The request you made on 11/11/2022 was approved on 11/12/2022</div>
          </div>

          <div class="p-3 border border-1 border-dark-subtle rounded">
            <div class="col" style="font-size: 12px;">The request you made on 11/11/2022 was approved on 11/12/2022</div>
          </div>

      </div>
    </div>

  </div>

{% endblock %}